extends home

block content
    main
        div.flexContainer
            div.article
                div.articleHeader
                    span=article.title
                div
                    span.articleContent=article.content
                div.articleFooter
                    div(style="display: flex; justify-content:space-between;")
                        span=article.author
                        span=article.date
                    if user
                        if user.name === article.author
                            div.userOptions
                                a#editArticle.button.edit(href=`/${article._id}/editArticle`) Edit Article
                                a#deleteArticle.button.delete Delete Article
                                input.articleId(type="text" value=`${article._id}` style='display:none')
                    a.button(href="/") Go Back
