<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="landing.css" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <div id="logo">
        <a href="landing.html">MyBlog</a>
      </div>
      <div id="signContainer">
        <button>Home</button>
        <button>Your Articles</button>
        <button>Sign Out</button>
      </div>
    </nav>
    <main>
      <div class="container widthFitContent">
        <div style="margin-bottom: 2em;">
          <input
            type="text"
            class="title"
            placeholder="Title"
            style="width: -webkit-fill-available;"
          />
        </div>
        <div>
          <textarea
            name=""
            id="articleContent"
            cols="50"
            rows="30"
            placeholder="Your Article"
          ></textarea>
        </div>
        <button class="create">Create Article</button>
      </div>
    </main>
  </body>
</html>
