extends base

block content
    main
        div.flexContainer

            each article in articles
                div.article
                    div.articleHeader
                        //-vale image path 
                        span=article.title          
                    div.articleContent   
                        div.hiddenContent= article.content
                    div.articleFooter
                        span= article.author
                        a.button(href=`/article/${article.slug}`) Read Full Article
                        span= article.date